<!-- <amexio-dropdown-new
  [field-label]="'Request Name'"
  [search]="true"
  [(ngModel)]="reqType"
  [place-holder]="'Select Request Type'"
  name="reqType"
  [data]="requestTypeList"
  [display-field]="'value'"
  [multi-select]="true"
  [value-field]="'key'"
  (onMultiSelect)="onMultiselectRequestType($event)"
  [enable-checkbox]="true"
  [enable-sort]="true"
  [sort]="'asc'"
>
</amexio-dropdown-new> -->

<!-- <amexio-chart-combo [title]="'Rice Production in India'" 
(onChartClick)="onDefaultChartClicksc1($event)"
(onLineClick)="onDefaultLineClicksc1($event)"
(onLegendClick)="onUserDefineLegendClicksc1($event)" 
[data]="barData"
[bar-data-index]="barArray"
[line-data-index]="lineArray">
</amexio-chart-combo> -->

<amexio-row>
  <amexio-column size="8">
    <amexio-chart-combo
      [height]="'400px'"
      [width]="'100%'"
      [data]="comboChartData"
    >
      <amexio-chart-title [title]="'Monthly Coffee Production by Country'">
      </amexio-chart-title>
      <amexio-chart-legend [position]="'bottom'"> </amexio-chart-legend>
      <amexio-chart-horizontal-axis [title]="'Month'">
      </amexio-chart-horizontal-axis>
      <amexio-chart-vertical-axis [title]="'Cups'">
      </amexio-chart-vertical-axis>
      <amexio-chart-vertical-Z-axis
        [title]="'Data'"
      ></amexio-chart-vertical-Z-axis>
    </amexio-chart-combo>
  </amexio-column>
</amexio-row>
